body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
}


.bg-dark {
    background-color: #000 !important;
    color: #fff !important;
}

.full-screen {
    height: 90vh;
}

.alert-position {
    width: 15%;
    top: 10%;
    left: 82%;
}

.margin-content {
    margin-top: 8vh;
}

.card-table {
    height: 70vh;
    overflow: auto;
}

.card-content {
    height: 40vh;
    overflow: auto;
}

.nav-item {
    margin-left: 1rem;
}

.bg-content {
    background-color: #fff;
    padding: 1rem;
}

.img-thumbnail {
    width: 200px !important;
    height: 200px !important;
}

.btn-equal {
    width: 200px;
    display: block;
}

.card-table-sm {
    height: 40vh;
    overflow: auto;
}